<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fatal error</title>
</head>
<body>

    <div layout:fragment="errorPage">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <img src="https://http.cat/403" class="image-error">
                </div>
            </div>
        </div>
    </div>
</body>
</html>